<p id="notice"><%= notice %></p>

<p>
  <strong>Branchlocation:</strong>
  <%= @branch.branchLocation %>
</p>

<p>
  <strong>Branchcity:</strong>
  <%= @branch.branchCity %>
</p>

<p>
  <strong>Branchcounty:</strong>
  <%= @branch.branchCounty %>
</p>

<p>
  <strong>Branchcode:</strong>
  <%= @branch.branchCode %>
</p>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
