<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Accountnumber:</strong>
  <%= @customer.accountnumber %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @customer.dob %>
</p>

<p>
  <strong>Balance:</strong>
	<%= @customer.accountBalance %>
</p>

<p>
  <strong>Cardnumber:</strong>
  <%= @customer.cardnumber %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @customer.pin %>
</p>

<p>
  <strong>ID:</strong>
	<%= @customer.id %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
