<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Phoneno:</strong>
  <%= @customer.phoneNo %>
</p>

<p>
  <strong>Accounnumber:</strong>
  <%= @customer.accounNumber %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @customer.balance %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @customer.dob %>
</p>

<p>
  <strong>Cardnumber:</strong>
  <%= @customer.cardNumber %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @customer.pin %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
